SUPABASE_URL=https://lpzpoxtpvyrarnrojaia.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwenBveHRwdnlyYXJucm9qYWlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyNjUyODQsImV4cCI6MjA4NDg0MTI4NH0.UBFim-wcNtLWocl3l8IV64K0G0Lr_jyO7_e8lx96dAI
PORT=3000